<div>
    @if(currentQuestion){
    <div>
      <h4>{{ quizInfo.name }}</h4>
      <div>
        <p>{{ currentQuestion.content }}</p>
      </div>
      @for (option of currentQuestion.options; track option) {
      <div (click)="currentSelectedOptionId = option.id"
      >
        <mat-radio-button
          color="primary"
          [value]="option.id"
          [checked]="currentSelectedOptionId == option.id"
        ></mat-radio-button>
        <p>{{ option.content }}</p>
      </div>
      }
      <div>
        @if(currentQuestionNo==quizInfo.questions.length-1){
        <button mat-raised-button color="primary" (click)="submit()">
          Submit
        </button>
        }@else{
        <button mat-raised-button color="primary" (click)="next()">
          Save & Next
        </button>
        }
      </div>
    </div>
    }
  </div>