
<div>
    <div>
      <h2>Hi {{ quizResult.name }}, Your results are below</h2>
      <table>
        <tr>
          <td>Score</td>
          <td>{{ quizResult.score }}</td>
        </tr>
        <tr >
          <td>Percentage</td>
          <td>{{ quizResult.percentage }}</td>
        </tr>
        <tr >
          <td>Correct</td>
          <td>{{ quizResult.correct }}</td>
        </tr>
        <tr>
          <td>In Correct</td>
          <td>{{ quizResult.inCorrect }}</td>
        </tr>
        <tr>
          <td>Un Attempt</td>
          <td>{{ quizResult.unAttempt }}</td>
        </tr>
      </table>
    </div>
  </div>